<form action="guardar-articulo.php" enctype="multipart/form-data" method="POST">
    <nav>
        <div class="nav-wrapper light-blue valign-wrapper">
            <h1 class="brand-logo center flow-text white-text">
            </h1>
         </div>
    </nav>
    
    <div class="modal-content black-text">
        <div class="row">
                <p>Para este lab solo esta habilitado introducir un titulo y el cuerpo. Los otros campos se llenan en
                la base de datos con los valores por default.</p>
            
                <div class="row">
                    <div class="input-field col s12 m12 l12">
                        <input placeholder="Título del artículo" data-length="100" type="text" class="validate titulo" name="titulo" oninput="autoCompletar()">
                        <label for="titulo">Título</label>
                        <div id="ajaxResponse"></div>
                    </div>
                
                    
                    <div class="input-field col s12 m12 l12">
                        <textarea placeholder="Ingresa aquí el contenido del artículo" class="materialize-textarea validate cuerpo" data-length="5000" name="cuerpo" type="text"></textarea>
                        <label for="cuerpo">Cuerpo del artículo</label>
                    </div>
                    
                    <div class="col s12">
                        <div class="file-field input-field">
                            <div class="btn light-blue disabled">
                                <i class="large material-icons">photo</i>
                                <input type="file" multiple disabled>
                            </div>
                            <div class="file-path-wrapper">
                                <input class="file-path validate imagenes" type="text" placeholder="Adjuntar una o más imágenes" name="fotos" disabled value="">
                            </div>
                        </div>
                    </div>
                    
                    <div class="col s12">
                        <div class="file-field input-field">
                            <div class="btn light-blue disabled">
                                <i class="large material-icons">attach_file</i>
                                <input type="file" multiple disabled>
                            </div>
                            <div class="file-path-wrapper">
                                <input class="file-path validate archivos" type="text" placeholder="Adjuntar uno o más archivos" name="archivos" disabled value="">
                            </div>
                        </div>
                    </div>
                    
                    <div class="input-field col s12">
                        <input placeholder="https://www.youtube.com/..." id="url" type="text" class="validate" name="video" disabled value="">
                        <label for="url">URL Video</label>
                    </div>
                    
                    <div class="col s12 m4 l4">
                        <div class='switch'>
                            <label>
                                No fijar
                                <input name='fijo' type='hidden' value='0'>
                                <input id='fijar-articulo' name='fijo' class="fijo" type='checkbox' value='1' disabled>
                                <span class='lever'></span>
                                Si fijar
                            </label>
                        </div>
                    </div>
                    
                    <div class="col s12 m4 l4" id="fecha-articulo">
                        <label for="fecha">Fecha fin de artículo fijo</label>
                        <input id="hora" type="text" class="datepicker fechaFinFijo" name="fechafijo" disabled>
                    </div>
                    
                    <div class="col s12 m4 l4" id="hora-articulo">
                        <label for="hora">Hora fin de artículo fijo</label>
                        <input id="hora" type="text" class="timepicker HoraFinFijo" name="horafijo" disabled>
                    </div>
                </div>
        </div>
    </div>
    <div class="modal-footer pinned">
            <div class="row">
                <div class="col s4 m4 l4"><a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat flow-text">Bitácora de Modificaciones</a></div>
                <div class="col s4 m4 l4"><a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat flow-text">Guardar Borrador</a></div>
                <div class="col s4 m4 l4">
                    <button class="btn waves-effect waves-light flow-text light-blue" type="submit" name="action">Enviar
                    <i class="material-icons right">send</i>
                    </button>
                </div>
        </div>
    </div>
</form>