body {
    text-align: justify;
    margin: 0;
}

.header_wrapper {
    overflow: hidden;
    background-color: dodgerblue;
    position: fixed;
    top: 0;
    width: 100%;
    height: 80px;
}

.menu_wrapper {
    height: inherit;
    top: 0;
    color: #fff;
    position: relative;
    padding-left: 3em;
    width: auto;
}

.container {
    margin: 100px 130px 30px 130px;
}

dd {
  margin-bottom: 1em;  
}

ul {
    margin-top: .2em;
}