
<div class="container">
    <form action="" id="form-articulo" method="post" enctype="multipart/form-data">
        <p id="msg"></p>
        <div class="file-field input-field">
            <div class="btn">
                <span>File</span>
                <input type="file" name="imagenes[]" id="imagenes" multiple>
            </div>
            <div class="file-path-wrapper">
                <input class="file-path validate" type="text" name="RutaImagenes" placeholder="Upload one or more files">
            </div>
        </div>
        <button class="btn waves-effect waves-light" type="submit" name="action">Submit
            <i class="material-icons right">send</i>
        </button>
    </form>
</div>
<!--
<div class="container">
    <form action="" id="form-articulo" method="post" enctype="multipart/form-data">
        <p id="msg"></p>
        <input type="file" id="multiFiles" name="files[]" multiple="multiple" />
        <button class="btn waves-effect waves-light" type="submit" name="action">Submit
            <i class="material-icons right">send</i>
        </button>
    </form>
</div>
-->