/* Paleta de colores */

.pink {
    background-color: #d50f67;
}

.pink-hover {
    background-color: #f39aae;
}

.dark-blue {
    background-color: #0055b7;
}

.dark-blue-hover {
    background-color: #6b94d4;
}

.green {
    background-color: #3fae29;
}

.green-hover {
    background-color: #a7d795;
}

.purple {
    background-color: #94348c;
}

.purple-hover {
    background-color: #cc99c4;
}

.orange {
    background-color: #ff4c00;
}

.orange-hover {
    background-color: #ffac83;
}

.yellow {
    background-color: #f4b708;
}

.yellow-hover {
    background-color: #edcf71;
}

.light-blue {
    background-color: #03a9f4;
}

.light-blue-hover {
    background-color: #addaf7;
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

header nav ul a,
header nav a,
nav .brand-logo,
nav h5 {
    color: #616161;
}

.img-proteccion-civil {
    max-height: 56px;
}

.img-gobierno-queretaro {
    max-height: 150px;
}

footer {
    color: #000;
}

footer img {
    max-height: 100px;
    max-height: 60px;
}

footer .row {
    margin-bottom: 0;
}

footer ul li {
    display: inline-block;
    float: none;
    clear: none;
}

footer ul {
    text-align: center;
    padding: 10px;
    margin: 0px;
}

footer ul a {
    font-size: .8em;
    padding: 0px 20px;
    color: white;
    font-weight: 200;
}

.footer-copyright {
    font-size: .75em;
    height: auto;
    padding: 0px !important;
    height: 30px;
}

.right-border {
    border-right-style: solid;
    border-right-color: black;
    border-right-width: thin;
}

.footer-left-img {
    margin-right: 1em;
}

.footer-right-img {
    margin-left: 1em;
}

.footer-images {
    border-style: solid;
    border-color: black;
    border-width: thin;
    padding: 20px 0px;
    width: 100%;
}

.page-footer {
    padding-top: 0px;
}

.section h5 {
    padding: 50px 0px;
    font-family: 'Raleway';
    font-size: 45px;
    font-weight: bold;
}

.section h5,
.section h4,
.section h3,
.section h2,
.section h1 {
    padding: 1% 0px;
    font-family: 'Raleway';
    font-weight: bold;
}

.uppercase {
    text-transform: uppercase !important;
}

.container {
    padding-top: 20px;
    padding-bottom: 20px;
}

.divider {
    margin: 20px 0px;
}

.top-nav-bar {
    height: 1.8em;
    padding: 0 20px;
}

i.right {
    margin-left: 2px;
    display: none;
}

.top-nav-bar.row {
    margin: 0px;
}

.color-top-bar {
    height: 3px;
}

.icon-container {
    border-radius: 10px;
    width: 20px;
    height: 20px;
}

header .nav-wrapper {
    padding: 10px 50px;
    height: auto;
}

nav {
    height: 100%;
}

header .nav-wrapper a {
    font-size: .9rem;
}

.nav-wrapper a {
    height: 56px;
}

.nav-wrapper .row {
    width: 100%;
    margin: 0;
}

.logo {
    display: inline-block;
    height: 100%;
}

.logo>img {
    vertical-align: middle
}

.error {color: #FF0000;}

