<div class="divider"></div>
<h1>Preguntas</h1>
<p><strong>¿Qué importancia tiene AJAX en el desarrollo de RIA's (Rich Internet Applications?</strong></p>
<p>AJAX permite a las aplicaciones web mejorar la usabilidad de los usuarios ya que si el usuario hace un cambio o
realiza una petición, está se ejecuta en segundo plano sin la necesidad de que la página se recargue. Es decir, mientras 
la aplicación se ejecuta del lado del cliente, existe una comunicación asíncrona en segundo plano.</p>

<p><strong>¿Qué implicaciones de seguridad tiene AJAX? ¿Dónde se deben hacer las validaciones de seguridad, 
del lado del cliente o del lado del servidor?</strong></p>
<p>AJAX está basado en XML y JavaScript, por lo cual es suceptible a los mismos ataques que JavaScript, como puede ser la
injección de código con XSS. Por lo tanto, es importante hacer validaciones de seguridad del lado del cliente y evitar que
se realizen ataques, por ejemplo, por medio de un formulario. Sin embargo, también es de mucha importancia hacer validaciones
del lado del servidor y así evitar que accedan o modifiquen información de la base de datos.</p>

<p><strong>¿Qué es JSON?</strong></p>
<p>Es un estándar utilizado para el intercambio de datos, famoso por ser lígero y faciliar el intercambio de datos porque es
independiente de los lenguajes que lo utilizen.</p>