<div class="container center-align">
    <h1>
        Enviado
    </h1>
    <h5>
        Su petición fue enviada con éxito
    </h5>
    <p>
        El equipo de protección civil se pondrá en contacto lo antes posible para orientarlo con sus dudas. 
    </p>
    <h5>
        ¡Gracias!
    </h5>
</div>