<div class="container">
    <p><strong>¿Por qué es una buena práctica separar el controlador de la vista?.</strong></p>
    <p>Porque siempre es mejor tener fragmentos de código que hagan/cumplan con una tarea especifica. 
    Es mas facil de dar mantenimiento y el código es reutilizable</p>
    
    <p><strong>Aparte de los arreglos $_POST y $_GET, ¿qué otros arreglos están predefinidos en php y cuál es su función?</strong></p>
    <p>$_SERVER: Info del entorno y servidor</p>
    <p>$_REQUEST: Contenido de $_GET, $POST y $_COOKIE</p>
    <p>$_SESSION: Variables de sesión</p>
    <p>$_COOKIE: Variables pasadas</p>
    
    <p><strong>Explora las funciones de php, y describe 2 que no hayas visto en otro lenguaje y que llamen tu atención.</strong></p>
    <p>filter_var: filtra una variable con un filtro dado, yo lo use para checar el email</p>
    <p>set_time_limit: delimita el tiempo de carga o ejecución de un script</p>
    
    <p><strong>¿Qué es XSS y cómo se puede prevenir?</strong></p>
    <p>Es un ataque en el cual se inserta código mailicioso a la página/aplicación con el fin de que este sea ejecutado. 
    Puede prevenirse con funciones como htmlspecialchars() o htmlentities()</p>
</div>