 <div class="section dark-blue-hover white-text">
     <h5 class="center-align uppercase">Trámite Aforos</h5>
 </div>
 
 <div class="container">
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Inde sermone vario sex illa a Dipylo stadia confecimus. Prioris generis est docilitas, memoria; Itaque haec cum illis est dissensio, cum Peripateticis nulla sane. Duo Reges: constructio interrete. Ita enim vivunt quidam, ut eorum vita refellatur oratio. </p>
    <p>Habent enim et bene longam et satis litigiosam disputationem. Id quaeris, inquam, in quo, utrum respondero, verses te huc atque illuc necesse est. Quamquam ab iis philosophiam et omnes ingenuas disciplinas habemus; Mihi quidem Antiochum, quem audis, satis belle videris attendere. Quid ergo attinet gloriose loqui, nisi constanter loquare? Quae cum dixisset, finem ille. Te enim iudicem aequum puto, modo quae dicat ille bene noris. Si enim ita est, vide ne facinus facias, cum mori suadeas. </p>
    <p>Quodsi ipsam honestatem undique pertectam atque absolutam. Nosti, credo, illud: Nemo pius est, qui pietatem-; Praeclare hoc quidem. Nam memini etiam quae nolo, oblivisci non possum quae volo. </p>
    <p>Faceres tu quidem, Torquate, haec omnia; Quis est, qui non oderit libidinosam, protervam adolescentiam? Hoc dixerit potius Ennius: Nimium boni est, cui nihil est mali. Quid enim de amicitia statueris utilitatis causa expetenda vides. Quid, si reviviscant Platonis illi et deinceps qui eorum auditores fuerunt, et tecum ita loquantur? Quem Tiberina descensio festo illo die tanto gaudio affecit, quanto L. Philosophi autem in suis lectulis plerumque moriuntur. Habes, inquam, Cato, formam eorum, de quibus loquor, philosophorum. Hoc tu nunc in illo probas. Omnium enim rerum principia parva sunt, sed suis progressionibus usa augentur nec sine causa; </p>
    <p>Ita enim vivunt quidam, ut eorum vita refellatur oratio. Occultum facinus esse potuerit, gaudebit; Ut alios omittam, hunc appello, quem ille unum secutus est. Eam stabilem appellas. Sed quid sentiat, non videtis. Nam si amitti vita beata potest, beata esse non potest. Occultum facinus esse potuerit, gaudebit; Sed vobis voluptatum perceptarum recordatio vitam beatam facit, et quidem corpore perceptarum. </p>
    
    <button data-target="masInfo" class="btn modal-trigger pink">Solicitar más información</button>
    <!-- Contenido del Modal -->
        <div id="masInfo" class="modal modal-fixed-footer">
            <div class="row">
                <form action="tramiteAforosController.php" method="POST" class="col s12">
                    <div class="modal-content">
                        <h4>Solicitar más información</h4>
                        <div class="row">
                            <div class="input-field col s6">
                                <input name="nombre" id="nombre" type="text" class="validate" data-length="50" class="validate" required>
                                <span class="error"><?php echo $nombreErr;?></span>
                                <label for="nombre">Nombre</label>
                            </div>
                            <div class="input-field col s6">
                                <input name="apellido" id="apellido" type="text" class="validate" data-length="50" required>
                                <label for="apellido">Apellido</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-field col s12">
                                <input name="email" id="email" type="email" class="validate" data-length="100" required>
                                <label for="email" data-error="Ingrese un correo electrónico válido">Correo electrónico</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-field col s12">
                                <textarea name="mensaje" id="mensaje" class="materialize-textarea validate" data-length="1500" required></textarea>
                                <label for="mensaje">Mensaje</label>
                            </div>
                        </div>
                    </div>
                    
                    <div class="modal-footer">
                        <div class="input-field col s12">
                          <input type="submit" value="Enviar" class="waves-effect waves-light btn">
                        </div>
                    </div>
                </form>
            </div>
        </div>
  </div>
        