/* Paleta de colores */

.pink {
    background-color: #d50f67;
}

.pink-text {
    color: #d50f67;
}

.pink-hover {
    background-color: #f39aae;
}

.pink-hover-text {
    color: #f39aae;
}

.dark-blue {
    background-color: #0055b7;
}

.dark-blue-text {
    color: #0055b7;
}

.dark-blue-hover {
    background-color: #6b94d4;
}

.dark-blue-hover-text {
    color: #6b94d4;
}

.green {
    background-color: #3fae29;
}

.green-text {
    color: #3fae29;
}

.green-hover {
    background-color: #a7d795;
}

.green-hover-text {
    color: #a7d795;
}

.purple {
    background-color: #94348c;
}

.purple-text {
    color: #94348c;
}

.purple-hover {
    background-color: #cc99c4;
}

.purple-hover-text {
    color: #cc99c4;
}

.orange {
    background-color: #ff4c00;
}

.orange-text {
    color: #ff4c00;
}

.orange-hover {
    background-color: #ffac83;
}

.orange-hover-text {
    color: #ffac83;
}

.yellow {
    background-color: #f4b708;
}

.yellow-text {
    color: #f4b708;
}

.yellow-hover {
    background-color: #edcf71;
}

.yellow-hover-text {
    color: #edcf71;
}

.light-blue {
    background-color: #03a9f4;
}

.light-blue-text {
    color: #03a9f4;
}

.light-blue-hover {
    background-color: #addaf7;
}

.light-blue-hover-text {
    color: #addaf7;
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

.menu-container {
    height: 114px;
}

.menu-container nav ul a,
.menu-container nav a,
nav .brand-logo,
nav h5 {
    color: #616161;
}

.img-proteccion-civil {
    max-height: 56px;
}

.img-gobierno-queretaro {
    max-height: 150px;
}

footer {
    color: #000;
}

footer .row {
    margin-bottom: 0;
}

footer ul li {
    display: inline-block;
    float: none;
    clear: none;
}

footer ul {
    text-align: center;
    padding: 10px;
    margin: 0px;
}

footer ul a {
    font-size: .8em;
    padding: 0px 20px;
    color: white;
    font-weight: 200;
}

.footer-copyright {
    font-size: .75em;
    height: auto;
    padding: 0px !important;
    height: 30px;
}

.right-border {
    border-right-style: solid;
    border-right-color: black;
    border-right-width: thin;
}


.footer-images {
    border-style: solid;
    border-color: black;
    border-width: thin;
    padding: 20px 0px;
    width: 100%;
}

.page-footer {
    padding-top: 0px;
}

.section h5 {
    padding: 50px 0px;
    font-family: 'Raleway';
    font-size: 45px;
    font-weight: bold;
}

.section h6 {
    padding: 50px 0px;
    font-family: 'Raleway';
    font-size: 24px;
    font-weight: bold;
}

.section h5,
.section h4,
.section h3,
.section h2,
.section h1 {
    padding: 1% 0px;
    font-family: 'Raleway';
    font-weight: bolder;
}

.slider-container {
    border-bottom-color: #e0e0e0;
    border-bottom-width: 2px;
    border-bottom-style: solid;
    
}

.uppercase {
    text-transform: uppercase !important;
}

.container {
    padding-top: 20px;
    padding-bottom: 20px;
}

.divider {
    margin: 20px 0px;
}

.top-nav-bar {
    height: 27px;
    padding: 0 20px;
}

i.right {
    margin-left: 2px;
    display: none;
}

.top-nav-bar.row {
    margin: 0px;
}

.color-top-bar {
    height: 3px;
}

.icon-container {
    border-radius: 10px;
    width: 20px;
    height: 20px;
}

.menu-container .nav-wrapper {
    padding: 10px 50px;
    height: auto;
}

.menu-container .nav-wrapper a {
    font-size: .9rem;
}

.nav-wrapper a {
    height: 56px;
}

.nav-wrapper .row {
    width: 100%;
    margin: 0;
}

.logo {
    display: inline-block;
    height: 100%;
}

.logo>img {
    vertical-align: middle
}

.divider {
  height: 2px;
  overflow: hidden;
  background-color: #e0e0e0;
  width: 100%;
}

#ultima_noticia {
    height: 100%;
    margin: 0px;
}

#noticias {
    height: auto;
}

#noticias .col {
    height: 100%;
}

.card.horizontal .card-image img {
    height: 100px;
    width: 120px;
}

.other-news .row {
    margin: 0px;
}

.card.horizontal .card-stacked .card-content{
    padding: 0px 25px;
}

.date-wrapper {
    width: 100px;
    padding: 1px;
}

.navbar1{
    height: 30px;
    line-height: inherit;
}

.navbar1 i {
    height: 20px;
    margin-left: 20px;
}

.navbar2 {
    height: auto;
    z-index: 99;
}

.slider-container {
    padding: 2%;
}

.slider .slides li img {
    background-size:100% auto;
    background-repeat: no-repeat;
    background-color: white;
}

.feed-twitter, .main-news, .other-news {
    height: 536px !important;
}

.card .card-content {
    padding: 24px 0px;
}

.card.horizontal {
    margin: 0 !important;
}

#noticias {
    margin: 30px 0px 20px 0px;
}

.modal .modal-content {
    padding: 24px;
    padding-bottom: 64px;
    margin-bottom: 56px;
}

.modal { 
    width: 60% !important; 
    max-height: 100% !important; 
    overflow-y: hidden !important ;
}

.modal.modal-fixed-footer {
    padding: 0;
    height: 96%;
    top: 2% !important;
}

/* styles for '...' */ 
.truncate-text, .truncate-long-text {
  /* hide text if it more than N lines  */
  overflow: hidden;
  /* for set '...' in absolute position */
  position: relative; 
  /* use this value to count block height */
  line-height: 1.2em;
  /* max-height = line-height (1.2) * lines max number (3) */
  max-height: 3.6em; 
  /* fix problem when last visible word doesn't adjoin right side  */
  text-align: justify;  
  /* place for '...' */
  margin-right: -1em;
  padding-right: 1em;
}
.truncate-long-text{
    max-height: 15.6em; 
}
/* create the ... */
.truncate-text:before, .truncate-long-text:before {
  /* points in the end */
  content: '...';
  /* absolute position */
  position: absolute;
  /* set position to right bottom corner of block */
  right: 0;
  bottom: 0;
}
/* hide ... if we have text, which is less than or equal to max lines */
.truncate-text:after, .truncate-long-text:after {
  /* points in the end */
  content: '';
  /* absolute position */
  position: absolute;
  /* set position to right bottom corner of text */
  right: 0;
  /* set width and height */
  width: 1em;
  height: 1em;
  margin-top: 0.2em;
  /* bg color = bg color under block */
  background: white;
}

footer .fixed-action-btn ul {
    left: -150px;
}

footer .fixed-action-btn ul li {
    display: block;
    margin: 0 auto;
}

footer .fixed-action-btn ul a {
    padding: 0px;
    color: #616161;
}

footer .fixed-action-btn ul a i{
    margin: 10px;
    font-size: 1.6rem;
}

footer .fixed-action-btn.active ul{
    background-color: #f5f5f5;
    border-style: solid;
    border-width: 1px;
    border-color: #e0e0e0;
    opacity: .99;
    padding-left: 5px;
    color: #616161;
}

