<footer class="page-footer grey lighten-4">
    <!--<div class="fixed-action-btn click-to-toggle">
        <a class="btn-floating btn-large red">
          <i class="large material-icons">menu</i>
        </a>
        <ul>
          <li><a class="btn-floating blue modal-trigger" href="#agregarArticulo"><i class="material-icons">add</i></a></li>
          <li><div class="row">Ver Personal<a class="btn-floating blue modal-trigger" href="#agregarArticulo"></a></div></li>
        </ul>
     </div>
    -->
    
    <div class="fixed-action-btn user-menu click-to-toggle">
        <a class="btn-floating btn-large red">
          <i class="large material-icons">mode_edit</i>
        </a>
        <ul class="z-depth-5">
            <li><h5>Articulos</h5></li>
            <li>
                <a href="#">
                    <div class="valign-wrapper">
                        <i class="material-icons left btn-floating light-blue">format_quote</i>
                        <h6>Ver artículos</h6>
                    </div>
                </a>                
            </li>
            
            <li>
                <a class="modal-trigger" href="#agregarArticulo">
                    <div class="valign-wrapper">
                        <i class="material-icons left btn-floating light-blue">add</i>
                        <h6>Crear articulo</h6>
                    </div>
                </a>
            </li>
            <div class="divider"></div>
            <li><h5>Empleados</h5></li>
            <li>
                <a href="#">
                    <div class="valign-wrapper">
                        <i class="material-icons left btn-floating yellow darken-1">people</i>
                        <h6>Ver empleados</h6>
                    </div>
                </a>                
            </li>
            
            <li>
                <a class="modal-trigger" href="#agregarArticulo">
                    <div class="valign-wrapper">
                        <i class="material-icons left btn-floating yellow darken-1">person_add</i>
                        <h6>Crear empleado</h6>
                    </div>
                </a>
            </li>
            <div class="divider"></div>
            <li><h5>Eventos</h5></li>
            <li>
                <a href="#">
                    <div class="valign-wrapper">
                        <i class="material-icons left btn-floating green">date_range</i>
                        <h6>Ver eventos</h6>
                    </div>
                </a>                
            </li>
            
            <li>
                <a class="modal-trigger" href="#agregarArticulo">
                    <div class="valign-wrapper">
                        <i class="material-icons left btn-floating green">event_available</i>
                        <h6>Crear evento</h6>
                    </div>
                </a>
            </li>
        </ul> 
    </div>
     <!--
     <div class="fixed-action-btn click-to-toggle">
         <a class="btn-large btn-floating red dropdown-button" data-hover="false" data-activates='dropdown1' data-beloworigin="true">
            <i class="large material-icons">menu</i>
        </a>
    </div>
    -->

      <!-- Dropdown Structure -->
      <ul id='dropdown1' class='dropdown-content'>
        <li><a class="modal-trigger" href="#agregarArticulo"><i class="material-icons">add</i>Añadir articulo</a></li>
        <li><a href="#!">two</a></li>
        <li class="divider"></li>
        <li><a href="#!">three</a></li>
        <li><a href="#!"><i class="material-icons">view_module</i>four</a></li>
        <li><a href="#!"><i class="material-icons">cloud</i>five</a></li>
      </ul>
  
    <div id="agregarArticulo" class="modal modal-fixed-footer">
        <form method="post" action="verificar-subir-articulo.php" enctype="multipart/form-data">
        <nav>
            <div class="nav-wrapper light-blue valign-wrapper">
                <h1 class="brand-logo center flow-text white-text">Agregar artículo</h1>
             </div>
        </nav>
        <div class="modal-content black-text">
            <div class="row">
                
                    <div class="row">
                        <div class="input-field col s12 m12 l12">
                            <input placeholder="Título del artículo" data-length="100" id="titulo" type="text" class="validate" name="titulo">
                            <label for="titulo">Título</label>
                        </div>
                    
                        
                        <div class="input-field col s12 m12 l12">
                            <textarea id="cuerpo" class="materialize-textarea validate" data-length="5000" name="cuerpo"></textarea>
                            <label for="cuerpo">Cuerpo del artículo</label>
                        </div>
                        
            
                        
                        <div class="col s12">
                            <div class="file-field input-field">
                                <div class="btn light-blue">
                                    <i class="large material-icons">photo</i>
                                    <input type="file" multiple>
                                </div>
                                <div class="file-path-wrapper">
                                    <input class="file-path validate" type="text" placeholder="Adjuntar una o más imágenes" name="fotos">
                                </div>
                            </div>
                        </div>
                        
                        <div class="col s12">
                            <div class="file-field input-field">
                                <div class="btn light-blue">
                                    <i class="large material-icons">attach_file</i>
                                    <input type="file" multiple>
                                </div>
                                <div class="file-path-wrapper">
                                    <input class="file-path validate" type="text" placeholder="Adjuntar uno o más archivos" name="archivos">
                                </div>
                            </div>
                        </div>
                        
                        <div class="input-field col s12">
                            <input placeholder="https://www.youtube.com/..." id="url" type="text" class="validate" name="video">
                            <label for="url">URL Video</label>
                        </div>
                        
                        <div class="col s12 m4 l4">
                            <div class="switch">
                                
                                <label>
                                    <span>Fijar artículo </span></br>
                                    No fijar
                                    <input type="checkbox" onclick="fijarArticulo(this)" name="fijar">
                                    <span class="lever"></span>
                                    Sí fijar
                                </label>
                             </div>
                        </div>
                        
                        <div class="col s12 m4 l4" id="fecha-articulo">
                            <label for="fecha">Fecha fin de artículo fijo</label>
                            <input id="hora" type="text" class="datepicker" name="fecha">
                        </div>
                        
                        <div class="col s12 m4 l4" id="hora-articulo">
                            <label for="hora">Hora fin de artículo fijo</label>
                            <input id="hora" type="text" class="timepicker" name="hora">
                        </div>
                    </div>
            </div>
        </div>
        
        
        <div class="modal-footer pinned">
            <div class="row">
                <div class="col s4 m4 l4"><a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat flow-text">Bitácora de Modificaciones</a></div>
                <div class="col s4 m4 l4"><a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat flow-text">Guardar Borrador</a></div>
                <div class="col s4 m4 l4"><button class="btn waves-effect waves-light flow-text" type="submit" name="action">Submit
                    <i class="material-icons right">send</i>
                </button></div>
            </div>
        </div>
        </form>
    </div>
     
    <div class="dark-blue-hover white-text">
        <div class="container center-align">
            Coordinación Estatal de Protección Civil de Querétaro, todos los derechos reservados © 2016-2021
        </div>
        <ul class="footer-nav">
            <li class="white-text"><a href="#">Contáctanos</a></li>
            <li class="white-text"><a href="#">Póliticas de uso y privacidad</a></li>
            <li class="white-text"><a href="#">Acerca de esta web</a></li>
            <li class="white-text"><a href="#">Mapa del sitio</a></li>
        </ul>
    </div>
</footer>

<script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script type="text/javascript" src="js/script.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
</body>

</html>
