body {
    text-align: justify;
    margin: 0;
}

.header_wrapper {
    overflow: hidden;
    background-color: #333;
    position: fixed;
    top: 0;
    width: 100%;
    height: 80px;
}

.menu_wrapper {
    height: inherit;
    top: 0;
    color: #fff;
    position: relative;
    padding: 2.25em 30px 2.04em;
    width: auto;
}

.main_menu {
    margin: 0;
    padding: 0;
    float: left;
    display: inline-block;
    position: absolute;
    display: block;
    font-family: 'Poppins', sans-serif;
}

.main_menu a {
    float: left;
    display: block;
    color: #fff;
    text-align: center;
    text-decoration: none;
    padding-right: 2em;
}

footer {
    text-align: center;
}

.container {
    margin: 100px 130px 30px 130px;
}

.sub_container1 {
    margin: 0px 100px 0px 100px;
}

ul {
    margin-top: 2px;
}

dt {
    margin: 15px 0px 1px 0px;
}

.forma_deportes {
    text-align: center;
}

.about,
.conceptos,
cuestionario {
    margin: 30px 0px 30px 0px;
}

.matricula,
.mail {
    margin: 0px 10px 0px 10px;
}
