/*
COLORS
Dark Grey:       #2c2c36
Gray:            #35353e
Red:             #ea4846
Blue:            #5a95ed
Ghost White:     #f8f8f8
*/

* {
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    color: white;
}

body,
html {
    margin: 0px;
    height: 100%;
}


/* Main Menu ------------------------- */

.main_header {
    background: rgba(255, 255, 255, .9);
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 99;
}

.main_menu_nav ul {
    list-style-type: none;
    margin: 0;
    padding-left: .5em;
    width: 100%;
    vertical-align: center;
}

.main_menu_nav li {
    float: left;
    display: block;
    position: relative;
}

.main_menu_nav li ul {
    display: none;
    position: absolute;
}

.main_menu_nav li:hover ul {
    display: block;
    height: auto;
    background: rgba(255, 255, 255, .9);
}

.main_menu_nav a,
.p_font {
    display: block;
    text-align: center;
    text-decoration: none;
    padding: 20px;
    text-transform: uppercase;
    font-size: .8em;
    color: black;
    font-weight: 500;
}

.main_menu_nav li ul li {
    clear: both;
}

li a:hover,
active {
    color: #5a95ed;
}


/* Main Menu ------------------------- */


/*Cover Image -------------*/

#cover_image {
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    width: 100%;
    height: 100%;
    display: block;
    overflow: hidden;
}

#cover_color {
    background-color: rgba(44, 44, 54, 0.7);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}


/*Cover Image -------------*/


/*Containers --------------*/

.full_width_container {
    display: inline-block;
    width: 100%;
    margin-top: 0;
    overflow: hidden;
}

.left_half {
    width: 50%;
    float: left;
}

.right_half {
    width: 50%;
    float: left;
    height: 100%;
}

.sub_container {
    margin: 80px 70px 0px 70px;
}

.sub_container2 {
    margin: 3.5em 6em 3.5em 6em;
    overflow: hidden;
    height: 100%;
    text-align: justify;
}

.content {
    font-size: .9em;
    margin: 0em 18em 10em 18em;
    text-align: justify;
}

.content ul {
    margin-top: 10px;
}

.section_header {
    text-align: center;
    padding: 2px;
}

form,
p {
    font-size: .65em;
}


/*Containers --------------*/


/*Background Color -------------------*/

.red_bg {
    background-color: rgba(232, 72, 70, .99);
    color: white;
}

.gray_bg {
    background-color: #35353e;
}

.dark_gray_bg {
    background-color: #2c2c36;
}

.blue_bg {
    background: #5a95ed;
}

.odd {
    background-color: #35353e;
}

.even {
    background-color: #2c2c36;
}

.white {
    color: white;
}

.gray {
    color: #b5b5b8;
}


/*Color -------------------*/

.pregunta {
    color: white;
    font-size: 1.1em;
    text-transform: uppercase;
    margin-bottom: 0;
}

p {
    font-size: 1em;
    margin-bottom: 2em;
}

.respuesta {
    color: #a3a3a7;
    font-size: 1em;
    margin-bottom: 5em;
    margin-top: 0;
}

.respuesta_con_lista {
    color: #b5b5b8;
    font-size: 1em;
    margin-bottom: 0;
    margin-top: 0;
}

.ensayo {
    color: white;
    font-size: 1em;
    margin-bottom: 3em;
    margin-top: 0;
}

.ensayo_con_lista {
    color: white;
    font-size: 1em;
    margin-bottom: 0em;
    margin-top: 0;
}

.lista_ensayo li {
    color: white !important;
}

.lista_ensayo {
    margin-bottom: 3em !important;
}

.content ul {
    margin-bottom: 5em;
    margin-top: 0;
}

.content ul li {
    color: #b5b5b8;
}

#container_fw {
    overflow: hidden;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    display: block;
}

#container_center {
    overflow: hidden;
    width: 100%;
    height: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#rightbar {
    float: left;
    width: 60%;
    background: #eee;
    height: 100%;
    align-content: center;
    text-align: center;
    background-color: #35353e;
}

#sidebar {
    float: left;
    width: 40%;
    vertical-align: center;
    font-size: 1em;
}

#rightbar img {
    max-height: 100%;
    max-width: 100%;
}

#cover_image img {
    max-height: auto;
    max-width: 100%;
}

#infront_of_image {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}

#cover_text {
    z-index: 100;
    text-transform: uppercase;
    font-size: 3.2em;
}

#cover_text_container {
    position: absolute;
    top: 25%;
    left: 25%;
    width: 50%;
    height: 50%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
}

.main_footer {
    padding: 2%;
}

.footer_table {
    border-collapse: collapse;
    margin: 0 auto;
    table-layout: fixed;
    text-align: center;
    width: 80%;
}

.footer_table a {
    text-decoration: none;
}

.footer_table img {
    max-height: 50px;
}

.footer_table td,
.footer_table th {
    padding-right: 5em;
    padding-left: 5em;
}

td {
    padding-bottom: 3em;
    color: white;
    font-size: .9em;
}

.footer_table th {
    color: #47474f;
    font-size: .8em;
}

h1 {
    text-transform: uppercase;
    font-size: 2.5em;
    text-align: center;
    padding-top: .2em;
    position: relative;
    margin: 1.5em;
}

h1:before {
    content: "";
    position: absolute;
    width: 4%;
    height: .07em;
    background-color: white;
    top: -1px;
    left: 50%;
    margin-left: -1.9%;
}

#cover_text::before {
    content: "";
    position: absolute;
    width: 10%;
    height: .07em;
    background-color: #5a95ed;
    top: -1px;
    left: 50%;
    margin-left: -5.5%;
}

#h1_titulo::before {
    background-color: #ea4846;
}

.answer_table {
    border-collapse: collapse;
    margin: 0 auto;
    table-layout: fixed;
    text-align: center;
    width: 80%;
    margin-bottom: 5em;
}

.answer_table tr th,
.answer_table tr td {
    color: #a3a3a7;
    font-size: 1em;
    padding-left: 5em;
    padding-right: 5em;
}

button {
    font-size: .8em;
    background-color: #ea4846;
    border: none;
    color: white;
    text-transform: uppercase;
    padding: .7em;
    margin: 1em;
}

form input {
    color: black;
}

.input_container {
    display: inline;
    height: 200px;
}

form input {
    display: inline-block;
}

.productos p {
    margin: 0;
}

#rightbar {
    border-bottom-color: white;
    border-width: 5px;
}

#total_price {
    margin-left: .5em;
}

.full_width_table {
    border-collapse: collapse;
    margin: 0 auto;
    table-layout: fixed;
    text-align: center;
    width: 80%;
}


/*Lab6*/

#watermark {
    position: absolute;
    z-index: 2;
    display: block;
    width: 100%;
    text-align: center;
    margin: 0 auto;
}

#wm_content {
    position: absolute;
    z-index: 1;
    width: 100%;
}

#wm_content img {
    max-height: 25em;
}

#wm_text {
    color: lightgrey;
    font-size: 60px;
    opacity: .8;
    text-transform: uppercase;
    text-align: center;
}

#wm_container {
    display: block;
    height: 25em;
    width: 100%;
    position: relative;
    text-align: center;
}

#alternate_text {
    text-align: center;
    font-size: 2em;
}

.center {
    text-align: center;
}

#image_color_container {
    width: 300px;
    position: relative;
}

#info {
    width: 100%;
    opacity: .985;
    background-color: #ea4846;
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    color: white;
    text-align: center;
}

.center {
    text-align: center;
    position: relative;
}

.circle_div {
    width: 6em;
    height: 6em;
    border-radius: 3em;
    font-size: 6em;
    color: #fff;
    line-height: 6em;
    text-align: center;
    background-color: #ea4846;
}

#jugadores {
    width: 100%;
    margin: auto;
}

#jugadores img {
    width: 100%;
}

#ronaldo,
#messi {
    float: left;
    overflow: hidden;
    width: 50%;
    text-align: center;
}

#ronaldo_check, #messi_check {
    width: 8em;
    height: 4em;
    margin: auto;
    border: .5px solid #5a95ed;
}

#ronaldo_check img, #messi_check img {
    height: 4em;
    width: auto;
}

h3 {
    text-align: center;
}
