<form action="guardar-articulo.php" enctype="multipart/form-data" method="POST">
    <nav>
        <div class="nav-wrapper grey lighten-5">
            <h1 class="brand-logo center flow-text pinned">Agregar artículo</h1>
         </div>
    </nav>
    <div class="modal-content black-text">
        <div class="row">
                <?php if(isset($registro)): ?>
                    <input name="id" id="id" type="hidden" value="<?=$registro["id"];?>">
                <?php endif; ?>
                
                <p>Para este lab solo esta habilitado introducir un titulo y el cuerpo. Los otros campos se llenan en
                la base de datos con los valores por default.</p>
            
                <div class="row">
                    <div class="input-field col s12 m12 l12">
                        <input placeholder="Título del artículo" data-length="100" id="titulo" type="text" class="validate" name="titulo" value="<?php if(isset($registro)) echo $registro["titulo"] ?>">
                        <label for="titulo">Título</label>
                    </div>
                
                    
                    <div class="input-field col s12 m12 l12">
                        <textarea id="cuerpo" class="materialize-textarea validate" data-length="5000" name="cuerpo"><?php if(isset($registro)) echo $registro["cuerpo"] ?></textarea>
                        <label for="cuerpo">Cuerpo del artículo</label>
                    </div>
                    
                    <div class="col s12">
                        <div class="file-field input-field">
                            <div class="btn light-blue disabled">
                                <i class="large material-icons">photo</i>
                                <input type="file" multiple disabled>
                            </div>
                            <div class="file-path-wrapper">
                                <input class="file-path validate" type="text" placeholder="Adjuntar una o más imágenes" name="fotos" disabled value="<?php if(isset($registro)) echo $registro["imagen"] ?>">
                            </div>
                        </div>
                    </div>
                    
                    <div class="col s12">
                        <div class="file-field input-field">
                            <div class="btn light-blue disabled">
                                <i class="large material-icons">attach_file</i>
                                <input type="file" multiple disabled>
                            </div>
                            <div class="file-path-wrapper">
                                <input class="file-path validate" type="text" placeholder="Adjuntar uno o más archivos" name="archivos" disabled value="<?php if(isset($registro)) echo $registro["archivos"] ?>">
                            </div>
                        </div>
                    </div>
                    
                    <div class="input-field col s12">
                        <input placeholder="https://www.youtube.com/..." id="url" type="text" class="validate" name="video" disabled value="<?php if(isset($registro)) echo $registro["video"] ?>">
                        <label for="url">URL Video</label>
                    </div>
                    
                    <div class="col s12 m4 l4">
                        <div class='switch'>
                            <label>
                                No fijar
                                <input name='fijo' type='hidden' value='0'>
                                <input id='fijar-articulo' name='fijo'
                                       type='checkbox' value='1' disabled>
                                <span class='lever'></span>
                                Si fijar
                            </label>
                        </div>
                    </div>
                    
                    <div class="col s12 m4 l4" id="fecha-articulo">
                        <label for="fecha">Fecha fin de artículo fijo</label>
                        <input id="hora" type="text" class="datepicker" name="fechafijo" disabled>
                    </div>
                    
                    <div class="col s12 m4 l4" id="hora-articulo">
                        <label for="hora">Hora fin de artículo fijo</label>
                        <input id="hora" type="text" class="timepicker" name="horafijo" disabled>
                    </div>
                </div>
        </div>
    
    
    

        <div class="row">
            <div class="col s4 m4 l4"><a href="#!" class="waves-effect waves-green btn-flat flow-text disabled">Bitácora de Modificaciones</a></div>
            <div class="col s4 m4 l4"><a href="#!" class="waves-effect waves-green btn-flat flow-text disabled">Guardar Borrador</a></div>
            <div class="col s4 m4 l4">
                <button class="btn waves-effect waves-light flow-text light-blue" type="submit" name="action">
                    Submit<i class="material-icons right">send</i>
                </button>
            </div>
        </div>
        
    </div>
</form>