<?php include '_articulo-modal.html';?>

<div class="user-menu">
    <div class="fixed-action-btn user-menu click-to-toggle">
        <a class="btn-floating btn-large red">
              <i class="large material-icons">menu</i>
        </a>
        <ul class="z-depth-5">
            <li><h5>Articulos</h5></li>
            
            <li>
                <a href="#">
                    <div class="valign-wrapper">
                        <i class="material-icons left btn-floating light-blue">format_quote</i>
                        <h6>Ver artículos</h6>
                    </div>
                </a>                
            </li>
                
            <li>
                <a class="modal-trigger" href="#articulo-modal">
                    <div class="valign-wrapper">
                        <i class="material-icons left btn-floating light-blue">add</i>
                        <h6>Crear articulo</h6>
                    </div>
                </a>
            </li>
            
            <div class="divider"></div>
            
            <li><h5>Empleados</h5></li>
            <li>
                <a href="#">
                    <div class="valign-wrapper">
                        <i class="material-icons left btn-floating yellow darken-1">people</i>
                        <h6>Ver empleados</h6>
                    </div>
                </a>                
            </li>
                
            <li>
                <a class="modal-trigger" href="#articulo-modal">
                    <div class="valign-wrapper">
                        <i class="material-icons left btn-floating yellow darken-1">person_add</i>
                        <h6>Crear empleado</h6>
                    </div>
                </a>
            </li>
            
            <div class="divider"></div>
                
            <li><h5>Eventos</h5></li>
            <li>
                <a href="#">
                    <div class="valign-wrapper">
                        <i class="material-icons left btn-floating green">date_range</i>
                        <h6>Ver eventos</h6>
                    </div>
                </a>                
            </li>
                
            <li>
                <a class="modal-trigger" href="#articulo-modal">
                    <div class="valign-wrapper">
                        <i class="material-icons left btn-floating green">event_available</i>
                        <h6>Crear evento</h6>
                    </div>
                </a>
            </li>
        </ul> 
    </div>
</div>