<footer class="page-footer grey lighten-4">
    <div class="fixed-action-btn click-to-toggle">
        <a class="btn-floating btn-large red">
          <i class="large material-icons">menu</i>
        </a>
        <ul>
          <li><a class="btn-floating blue modal-trigger" href="#agregarArticulo"><i class="material-icons">add</i></a></li>
        </ul>
     </div>
  
    <div id="agregarArticulo" class="modal modal-fixed-footer">
        <form method="post" action="verificar-subir-articulo.php" enctype="multipart/form-data">
            <nav>
                <div class="nav-wrapper grey lighten-5 valign-wrapper">
                    <h1 class="brand-logo center flow-text">Agregar artículo</h1>
                 </div>
            </nav>
            <div class="modal-content black-text">
                <div class="row">
                    
                        <div class="row">
                            <div class="input-field col s12 m12 l12">
                                <input placeholder="Título del artículo" data-length="100" id="titulo" type="text" class="validate" name="titulo">
                                <label for="titulo">Título</label>
                            </div>
                        
                            
                            <div class="input-field col s12 m12 l12">
                                <textarea id="cuerpo" class="materialize-textarea validate" data-length="5000" name="cuerpo"></textarea>
                                <label for="cuerpo">Cuerpo del artículo</label>
                            </div>
                            
                
                            
                            <div class="col s12">
                                <div class="file-field input-field">
                                    <div class="btn light-blue">
                                        <i class="large material-icons">photo</i>
                                        <input type="file" multiple>
                                    </div>
                                    <div class="file-path-wrapper">
                                        <input class="file-path validate" type="text" placeholder="Adjuntar una o más imágenes" name="fotos">
                                    </div>
                                </div>
                            </div>
                            
                            <div class="col s12">
                                <div class="file-field input-field">
                                    <div class="btn light-blue">
                                        <i class="large material-icons">attach_file</i>
                                        <input type="file" multiple>
                                    </div>
                                    <div class="file-path-wrapper">
                                        <input class="file-path validate" type="text" placeholder="Adjuntar uno o más archivos" name="archivos">
                                    </div>
                                </div>
                            </div>
                            
                            <div class="input-field col s12">
                                <input placeholder="https://www.youtube.com/..." id="url" type="text" class="validate" name="video">
                                <label for="url">URL Video</label>
                            </div>
                            
                            <div class="col s12 m4 l4">
                                <div class="switch">
                                    <label>
                                        <span>Fijar artículo </span></br>
                                        No fijar
                                        <input type="checkbox" onclick="fijarArticulo(this)" name="fijar">
                                        <span class="lever"></span>
                                        Sí fijar
                                    </label>
                                 </div>
                            </div>
                            
                            <div class="col s12 m4 l4" id="fecha-articulo">
                                <label for="fecha">Fecha fin de artículo fijo</label>
                                <input id="hora" type="text" class="datepicker disabled" name="fecha">
                            </div>
                            
                            <div class="col s12 m4 l4" id="hora-articulo">
                                <label for="hora">Hora fin de artículo fijo</label>
                                <input id="hora" type="text" class="timepicker" name="hora">
                            </div>
                            
                            
                        </div>
                </div>
            </div>
            
            
            <div class="modal-footer">
                <div class="row">
                    <div class="col s12 m4 l4"><a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">Bitácora de Modificaciones</a></div>
                    <div class="col s12 m4 l4"><a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">Guardar Borrador</a></div>
                    <div class="col s12 m4 l4"><input type="submit" value="Publicar" name="publicar" class="btn light-blue"></div>
                </div>
            </div>
        </form>
    </div>
     
    <div class="dark-blue-hover white-text">
        <div class="container center-align">
            Coordinación Estatal de Protección Civil de Querétaro, todos los derechos reservados © 2016-2021
        </div>
        <ul class="footer-nav">
            <li class="white-text"><a href="#">Contáctanos</a></li>
            <li class="white-text"><a href="#">Póliticas de uso y privacidad</a></li>
            <li class="white-text"><a href="#">Acerca de esta web</a></li>
            <li class="white-text"><a href="#">Mapa del sitio</a></li>
        </ul>
    </div>
</footer>

<script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script type="text/javascript" src="js/script.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
</body>

</html>
