<div class="container center-align">
    <h1>
        ERROR
    </h1>
        
    <h5>
        El artículo "<?php echo $titulo ?>" NO pudo ser publicado.
    </h5>
        
    <p>
        Por favor intentalo de nuevo. </br>
    </p>
</div>