<div class="container center-align">
    <h1>
        Publicado
    </h1>
    
    <h5>
        El artículo "<?php echo $_SESSION['titulo'] ?>" fue publicado con éxito.        
    </h5>
    
    <p>
       El contenido del artículo es el siguiente: </br>
    </p>
    
    <div class="container left-align">
        <p>
           <?php echo $_SESSION['cuerpo']  ?>  
        </p>
    </div>
            
    <h5>
        
        <?php echo $_SESSION['fijoFechaHoraFin']->format('Y-m-d H:i:s');?>
        ¡Gracias!
    </h5>   
    
</div>