<?php require_once("../modelos/modelo.php"); ?>
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8"/>
        <title>Webservice</title>
        <link href='//fonts.googleapis.com/css?family=Lato:300' rel='stylesheet' type='text/css'>
    </head>
    <body>
        <!-- Regresar la n-esima tarjeta -->
        <?php if (isset($num)) : ?>
        <!-- Regresa las tres primeras tarjetas -->
            <?php echo getNoticiaCard($num); ?>
        <?php else: ?>
            <?php echo getNoticiaCard(1); ?>
            <?php echo getNoticiaCard(2); ?>
            <?php echo getNoticiaCard(3); ?>
        <?php endif; ?>
    </body>
</html>
