<footer class="page-footer grey lighten-4">
    <a class='dropdown-button btn' href='#' data-activates='dropdown1'>Drop Me!</a>

  <!-- Dropdown Structure -->
  <ul id='dropdown1' class='dropdown-content'>
    <li><a href="#!">one</a></li>
    <li><a href="#!">two</a></li>
    <li class="divider"></li>
    <li><a href="#!">three</a></li>
    <li><a href="#!"><i class="material-icons">view_module</i>four</a></li>
    <li><a href="#!"><i class="material-icons">cloud</i>five</a></li>
  </ul>
    <div class="dark-blue-hover white-text">
        <div class="container center-align">
            Coordinación Estatal de Protección Civil de Querétaro, todos los derechos reservados © 2016-2021
        </div>
        <ul class="footer-nav">
            <li class="white-text"><a href="#">Contáctanos</a></li>
            <li class="white-text"><a href="#">Póliticas de uso y privacidad</a></li>
            <li class="white-text"><a href="#">Acerca de esta web</a></li>
            <li class="white-text"><a href="#">Mapa del sitio</a></li>
        </ul>
    </div>
</footer>

<script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script type="text/javascript" src="js/script.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
</body>

</html>
