<div class="container">
    <h1>Operacion 1</h1>
    <p>No hay paso de parametros y regresa las 3 primeras noticias</p>
    <?php
        $num = 1;
        $url = "https://daw-a01700651-andresraygadas.c9users.io/lab24/raygadas/public/articulos/"; //Route to the REST web service
        $context = stream_context_create(['http'=>[]]);
        $response = file_get_contents($url, null, $context);
        echo $response; 
    ?>
    <h1>Operacion 2</h1>
    <p>Regresa el enesimo articulo</p>
    <?php
        $num = 1;
        $url = "https://daw-a01700651-andresraygadas.c9users.io/lab24/raygadas/public/articulos/" . "$num"; //Route to the REST web service
        $context = stream_context_create(['http'=>[]]);
        $response = file_get_contents($url, null, $context);
        echo $response; 
    ?>
</div>
