<div class="container left-align">
    <h2>¿A que se refiere la descentralizacion de servicios web?</h2>
    <p>A tener la información desplegada en distintos servidores y no en uno solo.</p>
    
    <h2>¿Cómo puede implementarse un entorno con servicios web disponibles aún cuando falle un servidor?</h2>
    <p>Teniendo los servidores replicados para que en caso de que algún servidor falle, puedas acceder a la misma información desde otro servidor</p>
</div>
